.dropdown-menu{
    max-width: 250px;
    max-height: 100vh;

    top: 0vh;

    margin-left: 10%;
    background: #116DFF;
    position: absolute;

    list-style: none;
    text-align: start;

    overflow-y: auto;
}

.dropdown-menu li{
    cursor: pointer;

    font-family: 'Roboto';
}

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link{
    display: block;

    text-decoration: none;
    color: white;

    padding: 22px;
}
