.login-container {
    background-image: url(../../assets/PlanoDeFundo.jpg);
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
    display: flex;

    background-position-x: right;
    background-size: 1150px 100vh;

    font-family: 'Roboto';
}

.login-formulario{
    width: 100%;
    height: 100vh;
}

.login-content{
    width: 35%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: white;
    align-items: center;
}

.login-content img{
    width: 100px;

    margin: 40px;
}

.login-content h1{
    margin: 0 auto 60px auto;

    font-size: 28px;
}
.confirma{
    width: 80%;
    vertical-align: middle;

    margin-top: 20px;
}
btn{
    display: flex;
    margin: 20px 0 0 0;
}   


input[type="checkbox"]{
    zoom: 1.5;
}

.confirma label{
    margin-left: 10px;
}

.fa-arrow-right{
    font-size: 50px;
    color: black;
}

.btn{
    margin-top: 50%;
    opacity: 0.1;
}

.btn:hover{
    opacity: 1;
    transition: 1s;
}

.label-float{
    width: 100%;

    text-align: center;
    position: relative;

    margin-top: 14px;
}

.label-float input{
    width: 80%;
    height: 50px;

    border: 0;
    text-align: start;
    background: #ebeaea;

    font-size: 18px;
}

.label-float input:focus{
    background: white;
    border: 1px solid black;
}

#dado,
#dado1{
    padding: 5px 20px;
}
