.dropdown-menu{
    width: 200px;
    
    top:0vh;

    margin-left: 10%;
    background: #116DFF;
    position: absolute;

    list-style: none;
    text-align: start;

}

.dropdown-menu li{
    cursor: pointer;

    font-family: 'Source Code Pro';
}

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link{
   
    
    display: block;
    text-decoration: none;
    color: #fff;

    padding: 22px;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }