.navbar-container{
    width: 10%;
    height: 100vh;

    display: flex;  
    font-family: 'Roboto';
    
    justify-content: flex-start;
    
}

.navbar{
    width: 100%;
    height: 100vh;
    display: inline-block   ;

    margin: 0;

    text-align: center;
    justify-content: flex-start;
    align-items: center;


    background: #e2e2e2;

}

/*Style list of button*/
a{
    text-decoration: none;
    list-style: none;
    color: black;
    
}

.lista-button{
    display: flex;

    margin: 50% auto auto auto;

    text-align: left;
    justify-content: center;
    align-items: center;

    font-size: 22px;
}

.navbar-li, 
.navbar-ul{
    width: 90%;
    
    margin-left: 10px;
    list-style: none;

    margin-bottom: 40px;

    opacity: 0.8;

    transition: .5s;
}

.navbar-li:hover, 
.navbar-ul:hover{
    opacity: 1;
}

#logo-logo{
    font-size: 20px;
    margin-left: 10px;
}

/*Icone de Invocador*/
.imagem-de-invocador{
    display: grid;
    margin: auto;

    text-align: center;
    justify-content: center;
    align-items: center;

    margin-top: 40%;
    text-decoration: none;
}

.imagem-de-invocador img{
    width: 80px;

    margin: auto;
    border-radius: 50%;
    align-items: flex-end;
    justify-content: space-between;
}
.imagem-de-invocador a{
    text-decoration: none;
    color: black;
}

.imagem-de-invocador p{
    margin-top: 10px;

    text-decoration: none;
    font-style: none;
}

/*Style button*/

.button-jogo img{
    width: 80px;

    margin: 20px auto auto auto;
    display: flex;
    background-color: transparent;
    border: 0;
}

.button-jogo{
    margin-top: 20px;
    background: transparent;
    border: 0;

    cursor: pointer;
}
