.collection-container{
    width: 100%;
    height: 100vh;

    background: #fafafa;

    display: flex;
    color: white;
    margin: auto;

    justify-content: flex-start;
    align-items: center;
    text-align: center;
    
    background-image: url('../../assets/PlanoDeLobby2.jpg');
    background-position-x: right;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    
}
.collection{
    width: 100%;

    display: grid;
}
